body {
  --twitter-color: #50b5f5;
  --twitter-background: #e6ecf0;
}

.app {
  width: 95vw;
  display: flex;
  height: 100vh;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 672px) {
  .app {
    width: 100vw;
  }
}
